.jumbotronSection {
    height: 120vh;
    width: 100%;
    padding-top: 20px;
    background-image: url('../../assets/bg-website-min.png');
    background-size: cover;
    display: inline-grid;
    justify-items: center;
    grid-template-rows: 12%;
}