.navBetaButton {
    position: fixed;
    top: 40px;
    right: 20px;
    background: #fff;
    overflow: hidden;
    border-radius: .7rem;
    transition: background .4s linear;
    will-change: background;
    padding: .815rem 1.232rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
}

.navBetaButton:hover {
    background: #a594fd;
}

.navBetaButton span {
    position: relative;
    display: block;
    perspective: 108px;
}

.navBetaButton span:first-of-type em {
    transform-origin: top;
}

.navBetaButton:hover span:first-of-type em {
    opacity: 0;
    transform: rotateX(90deg) scaleX(.9) translate3d(0, -10px, 0);
}

.navBetaButton span em {
    font-style: normal;
    display: inline-block;
    font-size: 1.025rem;
    color: #000;
    font-weight: 800;
    font-family: 'Inter';
    will-change: transform, opacity, transition;
}

.navBetaButton span em,
.navBetaButton span:nth-of-type(2) em {
    transition: transform .55s cubic-bezier(.645, .045, .355, 1), opacity .35s linear .2s;
}

.navBetaButton span:nth-of-type(2) {
    position: absolute;
}

.navBetaButton:hover span:nth-of-type(2) em {
    opacity: 1;
    transform: rotateX(0deg) scaleX(1) translateZ(0);
    transition: transform .75s cubic-bezier(.645, .045, .355, 1), opacity .35s linear .3s;
}

.navBetaButton span:nth-of-type(2) em {
    opacity: 0;
    transform: rotateX(-90deg) scaleX(.9) translate3d(0, 10px, 0);
    transform-origin: bottom;
}